*.gradle
.gradle
.gradle-user-home/
.kotlin/
/local.properties
/.idea
.DS_Store
._*
/build
/captures
.externalNativeBuild
.cxx
*.orig
*.hprof
/androidApp/build
/shared/build
/iosApp/build
xcuserdata/
*.xcworkspace
DerivedData/
.swiftpm/
